// VARIABLES----------
$base_color_a: #242323; /* GRIS OSCURO */
$base_color_b: #3d3d3d; /* GRIS CLARO */

$primary_color: #ffffff; /* BLANCO */
$secondary_color: #da7171; /* NARANJA OSCURO */
$shadow_color: #6b3131; /* NARANJA OSCURO */
$effect_color: #f0bb77; /* NARANJA CLARO */

$additional_color_a: #568eed; /* AZUL */
$additional_color_b: #25d366; /*VERDE*/
$additional_color_c: #1f994b; /*VERDE*/

$blur_a: #b372728f;
$blur_b: #0000009a;

$primary_font: "Roboto", sans-serif; /* TEXTS */
$secondary_font: "Encode Sans SC", sans-serif; /* LOGO */

$xs_font: 1rem;
$s_font: 1.3rem;
$m_font: 1.5rem;
$l_font: 2rem;
$xl_font: 3rem;
$xxl_font: 4rem;
$xxxl_font: 5rem;

$transition: 200ms;

// MIXINS----------
@mixin hover_logo($colorhover, $scaletransform) {
  color: $colorhover;
  transform: $scaletransform;
}

// MEDIA SIZES----------
/* 
@media (min-width: 320px) {
}

@media (min-width: 768px) {
}

@media (min-width: 1024px) {
}
@media (min-width: 1440px) {
}
 */

/* ------------------------------MAIN SETUP------------------------------ */

::selection {
  background-color: $secondary_color;
  color: $base_color_b;
}

html {
  scroll-behavior: smooth;
  font-family: $primary_font;
  width: 100%;
  height: 100vh;
  color: $primary_color;
  background: $base_color_a;
  box-sizing: border-box;
  body {
    background: $base_color_a;
    color: $primary_color;
  }
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  a {
    text-decoration: none;
  }
}

/* ---------NAVBAR--------- */

header {
  transition: $transition;
  font-family: $secondary_font;
  position: sticky;
  top: 0;
  background: $base_color_a;
  z-index: 1;
  .header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 20rem;
  }
}

.top__NavBar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background: linear-gradient(to right, $shadow_color, $base_color_a);
  padding: 0.5rem 0;
  transition: $transition;
  .navBar__redes__top {
    i {
      color: $effect_color;
      font-size: $m_font;
      transition: $transition;
      margin: 0;
      letter-spacing: 10px;
      &:hover {
        color: $primary_color;
        transform: scale(1.09);
      }
    }
  }
  span {
    text-transform: capitalize;
    font-family: $primary_font;
    letter-spacing: 2px;
    font-size: $xs_font;
    font-weight: 400;
    font-style: italic;
    margin: 0;
    color: $primary_color;
  }
  h2 {
    display: none;
  }
}
.navBar {
  display: none;
}
.navBarMobile {
  display: flex;
}

.burger__mobile {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 50px;
  height: 50px;
  top: 10px;
  left: 10px;
  background-color: $secondary_color;
  border-radius: 50%;
  transition: $transition;
  z-index: 1;
  font-size: $m_font;
  box-shadow: 0px -0px 10px $shadow_color;
  a {
    color: $primary_color;
  }
}

@media (min-width: 768px) {
  .navBar {
    display: none;
  }
  .navBarMobile {
    display: flex;
  }
  .top__NavBar {
    h2 {
      display: none;
    }
  }
}

@media (min-width: 1024px) {
  .navBar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 10rem;
    box-shadow: 0px 3px 10px $base_color_b;
  }
  .burger__mobile {
    display: none;
  }
  .navBarMobile {
    display: none;
  }
  .top__NavBar {
    background-color: #6b3131;
  }
  .top__NavBar {
    h2 {
      display: inline;
      text-transform: uppercase;
      font-family: $secondary_font;
      letter-spacing: 2px;
      font-size: $xs_font;
      font-weight: 800;
      font-style: italic;
      margin: 0;
      color: $effect_color;
    }
  }
  .navBar__links {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
}
@media (min-width: 1440px) {
  .navBar {
    padding: 1rem 20rem;
  }
  .navBarMobile {
    display: none;
  }
  .navBar__links {
    gap: 2rem;
  }
}

.navBar__logo {
  width: 5rem;
  transition: ease-in-out $transition;
}

.navBar__burger {
  display: none;
}
.footer__social {
  .navBar__redes {
    i {
      color: $secondary_color;
      font-size: $m_font;
      transition: $transition;
      margin: 0;
      letter-spacing: 10px;
      &:hover {
        @include hover_logo($effect_color, scale(1.09));
      }
    }
  }
}

.navBar__links {
  a {
    .navBar__redes {
      i {
        color: $secondary_color;
        font-size: $m_font;
        transition: $transition;
        margin: 0;
        letter-spacing: 10px;
        &:hover {
          @include hover_logo($effect_color, scale(1.09));
        }
      }
    }
    color: $primary_color;
    font-size: $xs_font;
    transition: $transition;
    margin: 0;
    &:hover {
      color: $secondary_color;
    }
    &:active {
      @include hover_logo($effect_color, scale(1.09));
    }
  }
}

/* ---------BUTTONS--------- */

.btn {
  background-color: $secondary_color;
  border: none;
  padding: 0.5rem 1rem;
  font-weight: 500;
  color: $primary_color;
  transition: $transition;
  line-height: 15px;
  margin-left: 10px;
  text-align: center;
  padding: 6px 20px;
  white-space: nowrap;
  font-size: $s_font;
  border: 2px solid $secondary_color;
  border-radius: 2px;
}

.hero__banner__btn {
  font-size: $m_font;
  padding: 15px 30px;
}

.btn {
  &:hover {
    background-color: transparent !important;
    color: $primary_color !important;
    cursor: pointer;
    border: 2px solid $primary_color;
  }
}

.follow__btn {
  background-color: $additional_color_a;
  padding: 5px 15px;
  border-radius: 5px;
  margin-top: 1rem;
  border: none;
  font-size: $xs_font;
  &:hover {
    background-color: $primary_color !important;
    padding: 5px 15px;
    border-radius: 5px;
    color: $base_color_a !important;
    border: none;
  }
}

.btn__navigation__link {
  margin: 0.5rem 0 2rem 0;
  padding: 10px 30px;
  font-size: $xs_font;
}

/* ---------FOOTER--------- */

.footer {
  .navBar__links {
    display: flex;
    flex-direction: column;
    margin-bottom: 0rem;
    padding-bottom: 1rem;
    border-bottom: 2px solid $secondary_color;
    gap: 1rem;
  }
  .footer__copyright {
    p {
      font-family: $primary_font;
      margin: 0;
      font-size: $xs_font;
      letter-spacing: 1px;
    }
  }
  .footer__social {
    p {
      padding: 0px 0 0 0;
      margin: 10px 0 5px 0;
      font-family: $primary_font;
    }
  }
}

@media (min-width: 768px) {
  .footer {
    .navBar__links {
      flex-direction: row;
      border-bottom: none;
      gap: 2rem;
    }
  }
  .footer__copyright {
    display: flex;
    justify-content: center;
    gap: 5px;
    p {
      font-family: $primary_font;
      margin: 0;
      font-size: $xs_font;
      letter-spacing: 1px;
    }
  }
}

@media (min-width: 1024px) {
  .footer {
    .navBar__links {
      flex-direction: row;
    }
  }
}

.footer {
  background-color: $base_color_b;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2rem 0 0 0;
  font-family: $secondary_font;
  .navBar__links {
    margin-top: 2rem;
    align-items: center;
    text-align: center;
  }
  .footer__copyright {
    background-color: $base_color_a;
    width: 100%;
    padding: 20px 0;
    font-weight: 300;
    a {
      color: $secondary_color;
      transition: $transition;
      font-weight: 600;
      &:hover {
        @include hover_logo($effect_color, scale(1.09));
      }
    }
  }
}

/* ---------MISC STYLES--------- */

.banner__whatsapp {
  width: 100%;
  background-color: $secondary_color;
  color: $base_color_a;
  transition: $transition;
  text-transform: uppercase;
  text-align: center;
  padding: 1rem 0;
  font-size: $xs_font;
  letter-spacing: 1px;
}
.whatsapp__fixed__icon {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 50px;
  height: 50px;
  bottom: 20px;
  right: 20px;
  background-color: $additional_color_b;
  border-radius: 50%;
  transition: $transition;
  z-index: 1;
  box-shadow: 0px -0px 10px $additional_color_c;
}

.follow {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  margin-top: 1rem;
  gap: 0;
}

@media (min-width: 768px) {
  .banner__whatsapp {
    font-size: $s_font;
  }
  .follow {
    flex-direction: column;
  }
  .follow__btn {
    margin: 0;
    margin-top: 1rem;
  }
}

@media (min-width: 1024px) {
  .whatsapp__fixed__icon {
    background-color: $secondary_color;
    box-shadow: 0px -0px 10px $shadow_color;
  }

  .follow {
    flex-direction: row;
    gap: 1rem;
  }
  .follow__btn {
    margin-top: 0;
  }
}

.separator {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  width: 100%;
  background-color: $secondary_color;
  height: 0.2rem;
}

.separator2 {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  width: 100%;
  background-color: $base_color_b;
  height: 0.2rem;
  box-shadow: 0px -5px 10px $base_color_b;
}

.banner__whatsapp:hover > i,
.banner__whatsapp:hover {
  transition: $transition;
  color: $primary_color;
}

.navBar__links__active__page {
  border-bottom: 2px solid $secondary_color;
  color: $effect_color !important;
  cursor: default;
}

.navBar__logo__hover {
  transition: $transition;
}
.navBar__logo__hover {
  &:hover {
    transform: scale(1.05);
    cursor: pointer;
  }
}

.whatsapp__fixed__icon {
  i {
    font-size: $l_font;
    color: $primary_color;
  }
}

.whatsapp__fixed__icon {
  &:hover {
    background-color: $additional_color_b;
    transform: scale(1.09);
  }
}

/* ------------TITLES------------------------- */

.main__titles {
  font-size: $m_font;
  font-family: $secondary_font;
  font-style: italic;
  letter-spacing: 2px;
  margin: 0;
  text-align: center;
  padding: 0 1rem;
  text-shadow: 2px 1px 2px $effect_color;
}

.main__titles::first-letter {
  font-family: $secondary_font;
  color: $secondary_color;
  border-bottom: 2px solid $secondary_color;
  box-shadow: 0 2px 2px -2px $effect_color;
}

.main__subtitles {
  font-size: $s_font;
  font-family: $primary_font;
  font-style: italic;
  letter-spacing: 2px;
  margin: 5px 0 20px 0;
  font-weight: 300;
  text-align: center;
  padding: 0 1rem;
}
.main__titles__cards {
  font-size: $m_font;
  font-family: $secondary_font;
  font-style: italic;
  margin: 0.5rem 0 1rem 0;
}

.main__titles__cards::first-letter {
  font-family: $secondary_font;
  color: $secondary_color;
  border-bottom: 2px solid $secondary_color;
}

@media (min-width: 768px) {
  .main__titles {
    font-size: $xl_font;
    text-align: center;
    letter-spacing: 4px;
    text-shadow: 2px 2px 2px $effect_color;
  }

  .main__subtitles {
    font-size: $s_font;
    text-align: center;
  }
  .main__titles__cards {
    font-size: $s_font;
  }
}
@media (min-width: 1024px) {
  .main__titles {
    text-align: justify;
    padding: 0;
  }

  .main__subtitles {
    text-align: justify;
    padding: 0;
  }
  .main__titles__cards {
    font-size: $l_font;
  }
}

/* ---------CONTAINERS--------- */

.container__color__light {
  padding: 5rem 0;
  background-color: $base_color_b;
  text-align: center;
}
.container__sections__padding__sides {
  padding: 3rem 0;
}
.container__color__dark__separator {
  padding: 0 2rem;
}
.container__nav__map__container {
  display: none;
}
.container__color__light {
  p {
    font-size: $xs_font;
    font-weight: 300;
    letter-spacing: 1px;
    word-spacing: 3px;
  }
}
.main__paragraph {
  font-size: $xs_font;
  font-weight: 200;
  letter-spacing: 1px;
  word-spacing: 3px;
  text-align: justify;
  margin: 0;
  margin-bottom: 1rem;
}

@media (min-width: 768px) {
  .container__color__light {
    padding: 5rem;
  }
  .container__color__dark__separator {
    padding: 0 5rem;
  }
  .container__nav__map__container {
    display: flex;
    padding: 2rem 5rem;
  }
  .main__paragraph {
    font-size: $xs_font;
    font-weight: 200;
    letter-spacing: 1px;
    word-spacing: 3px;
  }
}

@media (min-width: 1024px) {
  .container__color__light {
    padding: 10rem 10rem;
  }
  .container__color__dark__separator {
    padding: 0 10rem;
  }
  .container__nav__map__container {
    padding: 4rem 10rem 4rem 10rem;
  }
  .container__nav__map__container {
    display: flex;
    padding: 2rem 10rem 2rem 10rem;
  }
  .container__sections__padding__sides {
    padding: 5rem 10rem;
  }
  .main__paragraph {
    text-align: left;
  }
}
@media (min-width: 1440px) {
  .container__color__light {
    padding: 10rem 20rem;
  }
  .container__color__dark__separator {
    padding: 0 20rem;
  }
  .container__nav__map__container {
    display: flex;
    padding: 2rem 20rem 2rem 20rem;
  }
  .container__sections__padding__sides {
    padding: 5rem 20rem;
  }
}

.container__color__dark {
  @extend .container__color__light;
  background-color: $base_color_a;
}

.container__color__allign__center {
  text-align: center;
}

/* ---------SECTION NAV MAP--------- */
.container__nav__map__background {
  background-image: url(../assets/HeroBannerNav.jpg);
  background-position: center;
  background-size: cover;
}

.container__nav__map__background__blur {
  background: linear-gradient(to left, $blur_a, $blur_b);
  backdrop-filter: blur(5px);
}

.container__nav__map__container {
  a {
    font-size: $m_font;
    font-family: $secondary_font;
    color: $primary_color;
    font-style: italic;
    transition: $transition;
  }
}
.container__nav__map__container {
  a {
    &:hover {
      color: $effect_color;
    }
  }
}
.container__nav__map__container {
  p {
    font-size: $m_font;
    font-family: $primary_font;
    color: $secondary_color;
    font-style: italic;
    margin: 0;
  }
}

/* -------SEPARADOR SPONSOR------- */

.sponsor__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
}

.sponsor__container__img {
  background-image: url(../assets/logo_fundacion.jpg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 10rem;
  width: 12rem;
}

/* ---------SECTION:BIO & VISION--------- */

.main__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.hero__banner__blur {
  background: linear-gradient(to left, $blur_a, $blur_b);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 0 2rem;
  text-align: end;
}
.hero__banner__flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1rem;
}
.hero__banner {
  h1 {
    font-size: $l_font + 0.5;
    text-transform: uppercase;
    color: $secondary_color;
    margin: 0;
    text-shadow: 2px 2px 2px $effect_color;
  }
  span {
    display: block;
    font-size: $l_font;
    color: $primary_color;
    margin: 0;
    text-shadow: 3px 3px 2px $secondary_color;
  }
  h2 {
    color: $effect_color;
    font-style: italic;
    margin-bottom: 1rem;
    font-size: $m_font;
    margin: 0;
    margin-bottom: 1rem;
  }
}

.hero__banner__logo {
  width: 8rem;
}

.separator__frase {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  gap: 5%;
  margin: 5rem 0;
}
.separator__frase__title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.separator__frase__title {
  .main__titles {
    font-size: $s_font;
    padding: 0;
    text-shadow: none;
  }
}

.separator__frase__title {
  .main__subtitles {
    font-size: $s_font;
    padding: 0;
  }
}
.separator__frase__img {
  max-width: 10rem;
  margin-bottom: 2rem;
}
.separator__frase__texto {
  p {
    font-family: $primary_font;
    margin: 0;
    font-size: $xs_font;
    letter-spacing: 1px;
    font-style: italic;
    text-align: center;
    padding: 0;
  }
  span {
    color: $secondary_color;
    border-bottom: 2px solid $secondary_color;
    font-weight: 800;
  }
}

.container__texto1 {
  grid-column: 1/2;
  grid-row: 2/3;
}
.container__texto2 {
  grid-column: 1/2;
  grid-row: 3/4;
}

.modal__dialog > div {
  width: 85%;
  margin: 40% auto;
  position: relative;
  padding: 1rem 1rem 2rem 1rem;
  border-radius: 10px;
  background: $base_color_b;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.bullets__container {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: flex-start;
  margin-bottom: 10px;
  gap: 10px;
}
.card__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $secondary_color;
  border-radius: 50%;
  color: $base_color_b;
  font-size: $xl_font;
  height: 5rem;
  width: 5rem;
  margin: 2rem 0;
}

@media (min-width: 768px) {
  .hero__banner__blur {
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
  }

  .hero__banner__flex {
    gap: 0rem;
  }
  .hero__banner {
    h1 {
      font-size: $xxl_font;
    }
    span {
      font-size: $xxl_font;
    }
    h2 {
      font-size: $m_font;
    }
  }

  .hero__banner__logo {
    width: 10rem;
  }

  .separator__frase {
    flex-flow: row wrap;
  }
  .separator__frase__title {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
  }
  .separator__frase__img {
    max-width: 12rem;
    margin-bottom: 0;
  }

  .separator__frase__texto {
    p {
      font-weight: 300;
      text-align: center;
      padding: 0;
    }
  }
  .separator__frase__title {
    .main__titles {
      font-size: $l_font;
      padding: 0;
    }
  }
  .separator__frase__title {
    .main__subtitles {
      font-size: $m_font;
      padding: 0;
    }
  }
  .modal__dialog > div {
    width: 70%;
    margin: 30% auto;
  }
  .bullets__container {
    padding: 0 0rem 1rem 0;
  }
  .card__icon {
    font-size: $xxxl_font;
    padding: 4rem;
  }
}

@media (min-width: 1024px) {
  .hero__banner__blur {
    justify-content: flex-end;
    padding: 0 10rem;
  }

  .hero__banner__flex {
    align-items: flex-end;
    text-align: end;
  }
  .separator__frase {
    flex-flow: row nowrap;
  }
  .separator__frase__title {
    .main__titles {
      text-align: left;
      width: 100%;
    }
  }
  .separator__frase__title {
    .main__subtitles {
      width: 100%;
      text-align: left;
    }
  }
  .separator__frase__texto {
    p {
      text-align: left;
      padding: 0;
    }
  }
  .separator__frase__img {
    max-width: 20rem;
  }

  .container__texto1 {
    grid-column: 2/3;
    grid-row: 1/2;
  }
  .container__texto2 {
    grid-column: 1/3;
    grid-row: 2/3;
  }

  .modal__dialog > div {
    width: 50%;
    margin: 20% auto;
  }
}
@media (min-width: 1440px) {
  .hero__banner__blur {
    padding: 0 20rem;
  }
}

/* ---------SECTION:HERO BANNER--------- */

.hero__banner {
  background-image: url(../assets/HeroBannerMain.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
  font-family: $secondary_font;
}

/* ---------MODIFICADORES--------- */

.margin__0 {
  margin: 0;
}
.margin__top_1rem {
  margin-top: 1rem;
}
.margin__top__2 {
  margin-top: 2rem;
}
.margin__top_3rem {
  margin-top: 3rem;
}

.margin__top__bottom__3rem {
  margin: 3rem 0;
}
.margin__top__bottom__1rem {
  margin-bottom: 1rem;
}

.padding__bottom__0 {
  padding-bottom: 0;
}

.font__style__italic {
  font-style: italic;
}

.padding__sides {
  padding: 0 1rem;
}

.row {
  justify-content: space-evenly;
}

/* ---------SECTION: TRATAMIENTOS--------- */

.card__terapias__container {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

/* ---------SECTION: BIOGRAFIA--------- */
.bullets__section {
  margin: 2rem 0;
}

.bullets__container {
  i {
    color: $secondary_color;
  }
}

/* ---------SECTION:FORM CONTACT--------- */

.contact__form__container {
  width: 90%;
  margin: 0 auto;
}
.contact__form input,
.contact__form textarea {
  max-width: auto;
  border: none;
  background: $primary_color;
  margin: 5px 0 20px 0;
  height: 20px;
}

.contact__form__container__btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.contact__form__primary__btn {
  width: 100%;
  border: 2px solid $secondary_color;
  font-size: $xs_font;
}

@media (min-width: 768px) {
}

@media (min-width: 768px) {
  .contact__form__container {
    width: 70%;
  }

  .contact__form__container__btn {
    flex-direction: row;
  }
  .contact__form__primary__btn {
    margin: 0;
  }
}

@media (min-width: 1024px) {
  .contact__form__container {
    width: 80%;
  }
}
@media (min-width: 1440px) {
  .contact__form__container {
    width: 60%;
  }
}

.contact__form {
  background: $base_color_b;
  border-radius: 5px;
  padding: 25px;
  box-shadow: 0 0 20px 0 $base_color_b, 0 5px 5px 0 $base_color_a;
  margin: 4rem 0 0 0;
}
.contact__form__dark {
  background: $base_color_a;
  margin: 4rem 0 0 0;
}

.contact__form {
  .columns {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
}

.contact__form {
  label {
    color: $secondary_color;
    font-weight: 600;
  }
}

.contact__form {
  textarea {
    height: 100px;
    max-width: 100%;
    resize: none;
  }
}

.contact__form__primary__btn {
  width: 100%;
  border: 2px solid $secondary_color;
}

.contact__form__secondary__btn {
  background-color: transparent;
}

.contact__form__secondary__btn {
  &:hover {
    background-color: $secondary_color !important;
  }
}

.gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
  align-items: center;
  justify-items: center;
  padding: 10px;
  margin: 4rem auto;
  width: 80%;
  gap: 1rem;
}
.item__reel {
  border: 2px solid $primary_color;
  width: 100%;
  height: 150px;
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  transition: $transition;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
.footer__reel {
  background-color: $base_color_b;
  width: 100%;
  border-radius: 0px 0px 10px 10px;
  text-align: center;
  padding: 3px 0;
  text-decoration: none;
  color: $primary_color;
  transition: $transition;
}
.footer__reel {
  a {
    text-decoration: none;
    color: $primary_color;
  }
}

.item__reel {
  &:hover {
    filter: none;
    cursor: pointer;
    transform: scale(1.05);
    border: none;
    box-shadow: -2px 2px 5px $base_color_b;
  }
}

.item__reel:hover > .footer__reel {
  opacity: 1;
}

.item1 {
  background-image: url(../assets/imgsReels/reel1.JPG);
}
.item2 {
  background-image: url(../assets/imgsReels/reel2.JPG);
}
.item3 {
  background-image: url(../assets/imgsReels/reel3.JPG);
}
.item4 {
  background-image: url(../assets/imgsReels/reel4.JPG);
}
.item5 {
  background-image: url(../assets/imgsReels/reel5.JPG);
}
.item6 {
  background-image: url(../assets/imgsReels/reel6.JPG);
}
.item7 {
  background-image: url(../assets/imgsReels/reel7.JPG);
}
.item8 {
  background-image: url(../assets/imgsReels/reel8.JPG);
}

@media (min-width: 425px) {
  .item__reel {
    width: 100%;
    height: 200px;
  }
}

@media (min-width: 768px) {
  .gallery {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
}

@media (min-width: 1024px) {
  .gallery {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 2rem;
    width: 80%;
  }
  .item__reel {
    width: 100%;
    height: 250px;
    filter: grayscale(1);
  }
  .footer__reel {
    opacity: 0;
  }
}

/* ------NAVBAR MOBILE------ */
.mobile__menu__modal {
  position: fixed;
  font-family: Arial, Helvetica, sans-serif;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  width: 0%;
  height: 0%;
  opacity: 0;
  pointer-events: none;
  transition: $transition;
}

.mobile__menu__modal {
  &:target {
    pointer-events: auto;
    transition: $transition;
    width: 100%;
    height: 100%;
    opacity: 1;
  }
}

.mobile__menu__modal > div {
  width: 100%;
  height: 100%;
  background: $base_color_a;
  display: flex;
  justify-content: flex-start;
  padding: 5rem 0 0 1rem;
}

.navBar__links__mobile {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.modal-content {
  background-color: $base_color_b;
}

.btn-close {
  border-radius: 50%;
  transition: $transition;
  background: none;
  background-color: $secondary_color;
  color: $primary_color;
  font-size: $m_font;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-header,
.modal-footer {
  justify-content: center;
}
/* -------ANIMACIONES------- */

.translate__animation {
  animation-duration: 900ms;
  animation-name: desplazar;
  animation-delay: 0;
  animation-direction: normal;
  animation-iteration-count: initial;
}

@keyframes desplazar {
  0% {
    opacity: 0;
    transform: translate(150px, 0);
    -webkit-transform: translate(150px, 0);
  }
  100% {
    opacity: 1;
  }
}

.translate__animation__left {
  animation-duration: 900ms;
  animation-name: desplazar2;
  animation-delay: 0;
  animation-direction: normal;
  animation-iteration-count: initial;
}

@keyframes desplazar2 {
  0% {
    opacity: 0;
    transform: translate(-150px, 0);
    -webkit-transform: translate(-150px, 0);
  }
  100% {
    opacity: 1;
  }
}

.translate__animation__up {
  animation-duration: 600ms;
  animation-name: arriba;
  animation-delay: 0;
  animation-direction: normal;
  animation-iteration-count: initial;
}

@keyframes arriba {
  0% {
    opacity: 0;
    transform: translate(0, -90px);
    -webkit-transform: translate(0, -90px);
  }
  100% {
    opacity: 1;
  }
}

.translate__animation__main__1 {
  animation-duration: 2s;
  animation-name: side1;
  animation-delay: 0;
  animation-direction: normal;
  animation-iteration-count: initial;
}

@keyframes side1 {
  0% {
    opacity: 0;
    transform: translate(-90px, 0);
    -webkit-transform: translate(-90px, 0);
  }
  100% {
    opacity: 1;
  }
}

.translate__animation__main__2 {
  animation-duration: 2s;
  animation-name: side2;
  animation-delay: 0;
  animation-direction: normal;
  animation-iteration-count: initial;
}

@keyframes side2 {
  0% {
    opacity: 0;
    transform: translate(180px, 0);
    -webkit-transform: translate(180px, 0);
  }
  100% {
    opacity: 1;
  }
}
.translate__animation__main__3 {
  animation-duration: 4s;
  animation-name: side3;
  animation-delay: 0;
  animation-direction: normal;
  animation-iteration-count: initial;
}

@keyframes side3 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.scale__animation__main__whapp {
  animation-duration: 300ms;
  animation-name: whapp;
  animation-delay: 0;
  animation-direction: normal;
  animation-iteration-count: initial;
}

@keyframes whapp {
  0% {
    opacity: 0;
    transform: scale(2.1);
    -webkit-transform: scale(2.1);
  }
  100% {
    opacity: 1;
  }
}

// -------SCROLLBAR-------

body::-webkit-scrollbar {
  width: 15px;
}
body {
  scrollbar-width: thin;
  scrollbar-color: $secondary_color $base_color_b;
}
body::-webkit-scrollbar-track {
  background: $base_color_b;
}
body::-webkit-scrollbar-thumb {
  background-color: $secondary_color;
  border-radius: 6px;
  border: 3px solid $base_color_b;
}
